<ion-view>
  <ion-header-bar class=" bar bar-assertive">
    <div class="buttons timer-button text-left">
    <timer countdown="question.timeInSecond"  interval="1000" finish-callback="question.finished()">{{hours}}:{{mminutes}}  : {{sseconds}}
    </timer>
      </div>
    <div class="h1 title text-center">

    </div>
      <div class="buttons">
          <button class="button button-clear" ng-style="question.centrElement"  ng-click="question.GoToReview()">Review</button>
          <button class="button button-icon icon ion-ios-home light" ng-click="question.forceClose()"></button>
      </div>




  </ion-header-bar>
  <ion-content class="has-header" ng-init="question.showQuestion(question.index,2)">

    <div class="text-center heading padding-5" >
      Question {{question.index}} of {{question.totalQuestions}}
    </div>
    <div class="questionHeading">
        {{question.appear.question}}
     <pre class="font-10"> {{question.appear.code}}</pre>
    </div>

    <div ng-repeat="op in question.appear.options">
      <ion-list ng-show="question.isArrayCheck!=true">
        <ion-radio class="item-text-wrap font-12" ng-click="question.choice(op.id)"  ng-value="op.id"
                   ng-model="question.appear.answer"
                   ng-change="question.selectedChange(op.option)">
          {{$index+1}}. {{op.option}}
        </ion-radio>

      </ion-list>

      <ion-list ng-show="question.isArrayCheck==true">
        <ion-checkbox class="item-text-wrap font-12" for="check"
                      ng-model="op.checked"
                      ng-change="question.arrayChoice(op.id)"
        >{{$index+1}}. {{op.option}}
        </ion-checkbox>
      </ion-list>
    </div>
  </ion-content>
  <ion-footer-bar class="bar-dark bar-subfooter multi-question-note" ng-if="question.isArrayCheck" align-title="center">
    <h1 class="title">Multiple answers possible</h1>
  </ion-footer-bar>
  <ion-footer-bar class="bar-positive" align-title="center">
    <div class="buttons">
      <button class="button button-clear" ng-click="question.showQuestion(question.index,1)"
              ng-hide="question.index==1">Prev
      </button>
    </div>
    <h1 class="title text-center">
        <button class="button button-clear text-center margin-top-5"   ng-click="question.GoToReview()">Submit
        </button>
    </h1>
    <div class="buttons">

      <button class="button button-clear" ng-click="question.showQuestion(question.index,2)"
              ng-hide="question.index==question.totalQuestions">Next
      </button>

    </div>
  </ion-footer-bar>
</ion-view>
