<ion-view>
  <ion-header-bar class="bar-transparent">
    <div class="buttons">
      <button class="button button-icon icon ion-android-arrow-back light" ng-click="detail.goBack()"></button>
    </div>
  </ion-header-bar>
  <ion-content class="no-header">
    <div class="text-center ">
      <div class="item item-thumbnail-center backgroundColor">
        <img src="{{detail.imageLink}}">
        <h2 style="color: white">{{detail.topicName}}</h2>
      </div>
    </div>
    <div class="row padding-top-20">
      <div class="col-33 text-center bold">
        Question
      </div>
      <div class="col-33 text-center bold">
        Time duration
      </div>
      <div class="col-33 text-center bold">
        Passing marks
      </div>
    </div>
    <div class="row">
      <div class="col-33 text-center">
        {{detail.questionslength}}
      </div>
      <div class="col-33 text-center">
        {{detail.questionslength}}min.
      </div>
      <div class="col-33 text-center">
        30%
      </div>
    </div>

    <hr>
    <div class="text-center">
      <button class="button button-outline button-assertive text-center margin-bottom-10" ui-sref="question">
        StartQuiz
      </button>
    </div>
    <div class="text-center padding-top-5 heading padding-bottom-5">
      Previous attempt list
    </div>
    <div>
        <div class="row">
            <div class="col">
                <ion-item  ng-repeat="history in detail.history" ui-sref="checkAnswer({key:'quizDetail',history:history})"
                          ng-if="detail.matchTypePaperId($index)">
                    <div>
                    <p class="text-left bold alignleft">Attempt at {{detail.history[$index].time|date:'MMM d, hh:mm a'}}</p>
                    <p class="text-right bold" ng-if="history.percentage>=30">
                        Pass
                    </p>
                    <p class="text-right bold" ng-if="history.percentage<30">
                        Fail
                    </p>
                    </div>




                </ion-item>
            </div>

        </div>
      <div class="row">
        <div class="col no-history" ng-if="detail.history.length==0">
          No previous attempts
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
