<ion-view>
  <ion-header-bar class="bar-transparent">
    <h1 class="title"></h1>
    <div class="buttons">
      <button class="button button-icon icon ion-ios-home light" ng-click="results.GoTohome()"></button>
    </div>
  </ion-header-bar>
  <ion-content class="no-header background-color-white">
    <div class="text-center ">
      <div class="item item-thumbnail-center backgroundColor">
        <img class="image-circle" src="img/user.png">
        <h2 class="backgroundColor">Your result card</h2>
      </div>
    </div>
    <div class="background-color-white">
      <div class="row">
        <div class="col-66 col-offset-10">
          Total Questions:
        </div>
        <div class="col-25">
          {{results.result.total}}
        </div>
      </div>
      <div class="row">
        <div class="col-66 col-offset-10">
          Attempted:
        </div>
        <div class="col-25">
          {{results.result.attempted}}
        </div>
      </div>
      <div class="row">
        <div class="col-66 col-offset-10">
          Correct:
        </div>
        <div class="col-25">
          {{results.result.correct}}
        </div>
      </div>
      <div class="row">
        <div class="col-66 col-offset-10">
          Marks:
        </div>
        <div class="col-25">
          {{results.result.correct}}/{{results.result.total}}
        </div>
      </div>
      <div class="row">
        <div class="col-66 col-offset-10">
          Percentage:
        </div>
        <div class="col-25">
          {{results.result.percentage}}%
        </div>
      </div>
      <div class="row">
        <div class="col-66 col-offset-10">
          Result:
        </div>
        <div class="col-25 bold" ng-if="results.result.percentage>=30">
          Pass
        </div>
        <div class="col-25 bold" ng-if="results.result.percentage<30">
          Fail
        </div>
      </div>
      <hr>

      <div class="row div-centered-60">
        <div class="col text-center">
          <button class="button  button-outline button-assertive" ng-click="results.GoTocheckAnswer()">Check Answers
          </button>
        </div>
        <!--<div class="col col-50 text-center">-->
        <!--<button class="button  button-outline button-assertive" ng-click="results.GoTohome()">Home-->
        <!--</button>-->
        <!--</div>-->

      </div>
    </div>
  </ion-content>
</ion-view>
