<ion-modal-view ng-controller="reviewCtrl as review">
  <ion-header-bar class="bar-assertive" align-title="center">

    <div class="buttons">
        <button class="button button-icon icon ion-android-arrow-back" ng-click="review.Goback()"></button>
    </div>
    <h1 class="title">Review Quiz</h1>
  </ion-header-bar>
    <ion-content class="has-header stable-bg">
       <div>
        <div  class="displayInline" ng-repeat="list in review.questionList" ng-click="review.sendIndex($index)">
          <div class="card margin-top-5 margin-bottom-5 floating-box colorGreen radius-10" ng-show="list.hasOwnProperty('answer')==true">Q.{{$index+1}}</div>
            <div class="card margin-top-5 margin-bottom-5 floating-box colorRed radius-10"   ng-show="list.hasOwnProperty('answer')==false">Q.{{$index+1}}</div>
        </div>

        <!--<div class="row">-->
            <!--<div class="col text-center">-->
                <!--<button class="button button-outline button-assertive" >Submit</button>-->
            <!--</div>-->
        <!--</div>-->
       </div>
    </ion-content>
  <ion-footer-bar class="bar-assertive" align-title="center" ng-click="review.GoToresults()">
    <h1 class="title">Submit</h1>
  </ion-footer-bar>
  <!--Footer with legend for answered/ unaswered color indication-->
</ion-modal-view>
