/* Empty. Add your own CSS if you like */
.floating-box {
    height:40px;
    margin-left:10px;
    width:60px;
    text-align: center;
    padding: 10px;
}
.backgroundColor{
    background-color: #ef473a;
    color: white;
}
.image-circle{
    border-radius: 50%;
}
.displayInline{
    display:inline-block;
}
.home-title{
  background-color: #ef473a;
  color: white;
  font-size: 28px;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
}
.valign-parent{
  display: table;
  width: 100%;
  height: 200px;

}
.valign-child{
  display: table-cell;
  vertical-align: middle;
  width: 100%;

}
.bar-transparent{
  background: none;
  border:none;
}
.timer-button timer span{
  padding-top: 8px !important;
  padding-left: 5px !important;
}

.platform-ios.platform-cordova .timer-button timer span{
   padding-top: 28px !important;
   padding-left: 5px !important;
 }
.multi-question-note{
  height:20px;
}
.multi-question-note h1{
  height: 20px!important;
  line-height: 20px !important;
  font-size: 14px !important;
}
.item-avatar .item-content > img:first-child{
    border-radius: 0;
}
.item-avatar-left > img:first-child{
    border-radius: 0;
}
.heading{
    background-color: #492d24;
    color: white
}
.questionHeading{
    text-align: left;
    font-size: 15px;
    padding: 20px 10px;
}
.red{
    color: red;
}
.radius-10{
  border-radius: 10px;
}
.width300{
    width: 300px;
}
.background-color-white{
    background-color: #f7f7f7;
}
.quiz-title{
  line-height: 30px;
  font-size: 18px;
}
.no-history{
  text-align: center;
  font-size: 24px;
  padding-top: 30px;
  color: gray;
}
.alignleft {
    float: left;
}
.font-10{
    font-size: 10px;
}
.colorGreen{
    background-color: green;
    color: #ffffff;
}
.colorRed{
    background-color: red;
    color: #ffffff;
}
.timerWidth{
    width: 100px;
}
.font-12{
    font-size: 15px;
}
